[submodule "data/arc-agi-1"]
	path = data/arc-agi-1
	url = https://github.com/fchollet/ARC-AGI.git
[submodule "data/arc-agi-2"]
	path = data/arc-agi-2
	url = https://github.com/arcprize/ARC-AGI-2.git
